body {
	margin: 0;
	background-color: #ffffff;

	justify-content: center;

	font-family: monospace;
	font-size: 24px;
}

#game {
	position: relative;
	width: 800px;
	height: 300px;
	background-color: #cccccc;
	overflow: hidden;
}

#dino {
	position: absolute;
	z-index: 20;
	width: 64px;
	height: 64px;
	left: 64px;
	bottom: 40px;
	background-image: url('images/dino.png');
	background-size: cover;
}

#score {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.2em 0.5em;
}

body,
html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 600px;
}

#banner {
	padding: 12% 0 0;
	margin: 0 auto;
	width: 40%;
	min-width: 388px;
}

#horizontal-scroll {
	width: 100%;
	height: 100%;
	background: url('images/game-background.png') repeat-x;
	-webkit-animation: backgroundScroll 17s linear infinite;
	animation: backgroundScroll 17s linear infinite;
	background-color: #9db9da;
}

#horizontal-scroll2 {
	width: 100%;
	height: 100%;
	background: url('images/game-background.png') repeat-x;
	-webkit-animation: backgroundScroll 22s linear infinite;
	animation: backgroundScroll 22s linear infinite;
}

#horizontal-scroll3 {
	width: 100%;
	height: 50vh;
	background: url('images/game-background.png');
	-webkit-animation: backgroundScroll 30s linear infinite;
	animation: backgroundScroll 30s linear infinite;
}

@-webkit-keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -800px 0;
	}
}
@keyframes backgroundScroll {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -800px 0;
	}
}

.jump {
	animation: jump 1s;
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-120px);
	}

	100% {
		transform: translateY(0);
	}
}

#cactus {
	z-index: 20;
	width: 64px;
	height: 50px;
	top: 30%;
	background-image: url('images/kaktus.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	animation: move 3s linear infinite;
}

@keyframes move {
	0% {
		right: 0px;
		top: 75%;
	}
	100% {
		right: 100%;
		top: 75%;
	}
}

.hidden {
	visibility: hidden;
}
